<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheet/index.css">
    
    <title>My Blog</title>
  </head>
  <body>
    <header>
      <img src="assets/icon.png" alt="Logo">
      <h1>My Blog</h1>
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <% if (typeof(pages) !== 'undefined' && pages.length > 0) { %> <% for
        (let page of pages) { %>
        <li><a href="<%=page.slug %>"><%= page.title %></a></li>
        <% } %> <% } %>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>

    <main>
      <article>
        <h2>Welcome to our blog!</h2>
        <img src="/assets/pexels-raj-deepak-4509658.jpg" alt="Hero image">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. In laborum
          ullam quo inventore hic? Quam odio cupiditate at, temporibus itaque
          modi, harum nisi quod blanditiis dicta odit eveniet. Nihil, velit.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto
          perspiciatis, tempora neque, sint eveniet porro animi fuga mollitia
          delectus maxime nobis excepturi. Cupiditate fugit deleniti minima
          similique rem, iure consequatur exercitationem atque natus dolor ipsum
          nulla optio suscipit impedit inventore repellendus. Sint saepe dolorem
          nemo ullam nostrum numquam dolor quasi!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          optio, earum, quis atque ab architecto error dolore asperiores
          accusantium vitae dolor quaerat necessitatibus soluta veniam iure
          mollitia rerum provident. Quia temporibus quibusdam at ipsum
          cupiditate. Delectus labore quibusdam quisquam illo!
        </p>
      </article>
    </main>

    <footer>
      <p>&copy; 2023 Copyright. Mayank Thite & Manmeet Singh.</p>
    </footer>
  </body>
</html>
